/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.green-edp a {
  color: #4caf50;
  text-decoration: underline;
}

.project-description {
  background-color: #eee;
}

.top-margin {
  margin-top: 75px;
}

.smaill-top-margin {
  margin-top: 50px;;
}

#green-edp-img {
  width: 75%;
}

#denver-gears-img {
  width: 50%;
}

.denver-gears a {
  color: #ffa726;
  text-decoration: underline;
}

footer.page-footer {
  margin: 0;
}

footer a {
  color: #fff;
  text-decoration: underline;
}
